.header{
    max-width: 1280px;
    margin: 0;
    background-color: #202020;
}

.header__container{
    padding-top: 17px;
    width: 89%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.header__films-container{
    display: flex;
    margin: 0 0 0 49px;
    list-style-type: none;
    font-size: 13px;
    line-height: 18px;
    width: 19%;
    justify-content: space-between;
    
}

.header__logo{
    width: 38px;
}

.header__account{
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
}

.header__account-container{
    display: flex;
    margin: 0;
    width: 8%;
    align-items: center;
    justify-content: space-between;
}

.header__account-image{
    width: 10px;
    padding: 7.5px 7.75px;
    border-radius: 50px;
    background-color: #313131;
}

.header__films-list-item{
    border: none;
    background-color: transparent;
    color: white;
}

.header__films-list-item:hover{
    cursor: pointer;
}
